.swiper-div {
  justify-content: center;
  width: 100%;
  img {
    height: 450px;
    width: auto;
    border: 0.1px solid #1b1b1b;
    border-radius: 80px;
    //todo: 마스크로 바꾸기
  }
}
.swiper-button-next {
  right: 500px;
}

.poster__wrapper {
  width: 400px;
  margin-left: 50px;
}

.poster__div {
  width: 200px;
  height: 300px;
  .poster {
    width: 200px;
    height: 300px;

    position: relative;
    display: block;
  }
}
@media (min-width: 1200px) {
  .swiper-div {
    overflow-x: scroll;
  }
}
