.header__div__wrapper {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .header__div {
    display: block;
    width: 1000px;
    font-size: 15px;
    height: 70px;
  }
  .header__ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .header__div__link {
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 25px;
    text-align: center;
  }
}
