$backcolor: #1b1b1b;

.home__div {
  background-color: $backcolor;
}
.home__div__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header__blank__div {
  width: 100%;
  height: 74px;
}
