$font-color: #bbbbbb;
$impact-font-color: #ffffff;
.board-detail__wrapper {
  color: #bbbbbb;
}

.content__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  .content {
    width: 1200px;
  }
}
.header__img__wrapper {
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
  z-index: -1;
  .header__img {
    width: 100%;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: cover;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.poster__img__div {
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: center;
  .poster__img-positional {
    position: relative;
    top: -50px;
    width: 1200px;
  }
  .poster__img-wrapper {
    width: 282px;
    height: auto;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
  }
  .poster__img {
    width: 100%;
    height: 100%;
  }
}

.filminfo__wrapper {
  height: 400px;
  margin-left: 306px;
  z-index: -1;

  .filminfo__title {
    margin-bottom: 1rem;
    padding-top: 50px;
    font-size: 35px;
    color: white;
  }
}

.filmLink {
  color: white;
  font-size: 1.3rem;
  div {
    margin: 1rem 0rem;
  }
}

.bucket {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 1rem 0;
  img {
    width: 20px;
    height: 20px;
  }
  div {
    color: #00c896;
    margin-left: 0.2rem;
  }
}

.filminfo__info {
  margin-bottom: 1rem;
  span {
    font-size: 18px;
    & + .dot {
      margin: 0 0.2rem;
      font-size: 20px;
    }
  }
}

.donation {
  all: unset;
  margin: 1rem 0;
  background-color: #00c896;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  border-radius: 50px;
  height: 4rem;
  width: 282px;
  font-size: 1.3rem;
  img {
    width: 25px;
    height: 25px;
    margin: 0 0.5rem;
  }
}

.ratings {
  display: flex;
  align-items: center;
}
