.cast {
  margin: 1rem 0;
}
.cast-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.infos {
  width: 180px;
  margin-right: 24px;
  .name {
    color: white;
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  .imagebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 260px;
    overflow: hidden;
    border-radius: 20px;
    img {
      width: auto;
      height: 260px;
    }
  }
  &:nth-child(6n) {
    margin-right: 0px;
  }
}

.head {
  font-size: 1.5rem;
  color: white;
  display: flex;
  margin: 1rem 0;
  button {
    all: unset;
    background-color: #00c896;
    font-size: 1rem;
    padding: 0.3rem;
    border-radius: 20px;
    margin-left: 1rem;
    cursor: pointer;
  }
}

.open {
  &:hover {
    box-shadow: 0 80px 0 0 rgba(0, 0, 0, 0.25) inset,
      0 -80px 0 0 rgba(0, 0, 0, 0.25) inset;
  }
}
