$buttoncolor: #00c896;
.comment-block {
  background-color: #37393d;
  margin-top: 1rem;
  border-radius: 15px;
  .comment {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}
.comment-line {
  border-bottom: 1px solid #bbbbbb;
}
.comment-header {
  width: 100%;
  color: white;
  display: flex;
  .fl-st {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
  }
  .fl-ed {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    .rating-container {
      width: 10%;
      height: 70%;
      background-color: $buttoncolor;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 20px;
      img {
        width: 20px;
        height: 20px;
        margin-left: 1rem;
      }
      .rating {
        font-size: 1rem;
        margin-left: 0.2rem;
        font-weight: 600;
      }
    }
  }
  .username {
    margin-left: 1em;
  }
  .rating {
    margin-right: 1em;
  }
  .image-mask {
    border-radius: 90px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    img {
      height: auto;
    }
  }
}

.head {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.comments-wrapper {
  margin: 2rem 0;
}

.nocomments {
  background-color: #37393d;
  margin-top: 1rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  .message {
    color: #bbbbbb;
    padding: 1rem;
    font-size: 1.3rem;
  }
}
.like {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  img {
    width: 25px;
    height: 25px;
  }
  div {
    margin-left: 0.2rem;
  }
}

.likebutton {
  all: unset;
  color: $buttoncolor;
  cursor: pointer;
  margin: 0.5rem 0 0 0;
}
