.menu-wrapper {
  button {
    all: unset;
    margin-top: 0.5rem;
    margin-right: 1.5rem;
    font-size: 1.3rem;
  }
  .highlight {
    color: white;
    border-bottom: 2px solid white;
  }
}

.infowrapper {
  min-height: 300px;
}

.desc {
  margin-top: 2rem;
}
