.wrapper {
  display: flex;
  .reviewstill {
    cursor: pointer;
    width: 282px;
    height: 200px;
    margin-right: 24px;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      color: white;
      font-size: 3rem;
      position: absolute;
    }
    img {
      width: 330px;
      height: auto;
    }
    &:last-child {
      margin-right: 0px;
      img {
        opacity: 0.5;
      }
    }
  }
}

.still-wrapper {
  margin: 1rem 0;
  .head {
    font-size: 1.5rem;
    color: white;
    margin: 1rem 0;
  }
}

.fullwrapper {
  display: flex;
  flex-wrap: wrap;
  .displaystill {
    width: 588px;
    height: auto;
    max-height: 400px;
    margin-bottom: 2rem;
    margin-right: 24px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 700px;
      height: auto;
    }
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
}
