@use "../../modal.module.scss" as modal;
.wrapper {
  display: flex;
  .reviewstill,
  .reviewstills {
    cursor: pointer;
    width: 282px;
    height: 200px;
    margin-right: 24px;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    div {
      color: white;
      font-size: 3rem;
      position: absolute;
    }
    img {
      width: 330px;
      height: auto;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}

.still-wrapper {
  margin: 1rem 0;
  .head {
    font-size: 1.5rem;
    color: white;
    margin: 1rem 0;
  }
}

.fullwrapper {
  display: flex;
  flex-wrap: wrap;
  .displaystill {
    width: 588px;
    height: auto;
    max-height: 400px;
    margin-bottom: 2rem;
    margin-right: 24px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 700px;
      height: auto;
    }
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
}
.reviewstills {
  margin-right: 0px;
  img {
    opacity: 0.5;
  }
}
@function padding_handler($n) {
  @return 100%-$n;
}
.screen-wrapper {
  z-index: 500;
  @include modal.screen_wrapper();
  .picturemodal-wrapper {
    @include modal.modal_wrapper();
    .picturemodal {
      img {
        max-width: 1000px;
        max-height: 800px;
        border: 5px solid white;
      }
    }
  }
}
